<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('./partials/head.ejs') %>
    <title>Homepage</title>
</head>
<body>
  <%-include('./partials/navbar.ejs') %>
  <% if(locals.blog){%>
    <div class="container mt-3">
      <div class="row row-cols-4">
        <% blog.forEach(blog=>{%>
          <div class="col">
          <div class="card" style="width: 18rem">
            <img src="<%=blog.coverImageURL%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=blog.title%></h5>
              <a href="/blog/<%=blog._id%>" class="btn btn-primary">View</a>
            </div>
          </div>
          </div>
          <% }) %>
    </div>
  </div>
    <% } %>
    <%-include('./partials/script.ejs') %>
</body>
</html>